{% extends 'shared/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks%}
{% block title %}Mes Livres{% endblock %}
{% block content %} 

<html>
    <head>

    </head>
    <body>
        {% for book in books %}
        <div>
            {{ book.title }}
        </div>    
        
        <div>
            {{ book.editor }}
        </div>    

        <div>
            {{ book.shortDescription }}
        </div>    
        <div>
            {{ book.resume }}
        </div>    
        <div>
            {{ book.price }}
        </div>
        <div>
            nombre de livre dispo : {{ book.quantity }}
        </div>        
        {% if book.quantity > 0 %}
        <div class="btn-block">
            <a class="btn btn-primary" href="/account/requestBook/{{book.id}}" role="button">Demander ce livre</a>
        </div>
        {% endif %}
        {% endfor %}
    </body>
</html>

{% endblock %}