{% extends 'shared/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks%}
{% block title %}Mes emprunts{% endblock %}
{% block content %}
	<html>
		<head> </head>
		<body>
			{% for loan in loans %}
			<div>
				<label for="">Titre :</label>
				{{loan.book_title}}
			</div>
			<div>
				<label for="">Livre à rendre au plus tard le :</label>
				{{loan.returned_date}}
			</div>
			<div>
				<label for="">Publié par :</label>
				{{loan.othor_username}}
			</div>
			{% if loan.delay_in_days > 0 %}
			<div>
				<label for="">Vous avez un retard de :</label>
				{{loan.delay_in_days}} jour(s)
			</div>
			{% endif %} {% endfor %}
		</body>
	</html>
{% endblock %}
