{% extends 'shared/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}Mes livres{% endblock %}
{% block content %}
	<html>
		<head> </head>
        <style>
            .btn-block {
                padding: 10px;
            }

            .pl-0 {
                padding-left: 0px;
            }

            .block {
                padding: 10px;
            }
        </style>
		<body>
			{% if requests%}
                <div class="block">
                    {% for request in requests %}
                        <div>
                            <label for="">Status :</label>
                            {{request.status}}
                        </div>
                        <div>
                            <label for="">Prix :</label>
                            {{request.amount}} €
                        </div>
                        <div>
                            <label for="">Publié par :</label>
                            {{request.othor}}
                        </div>
                        <div>
                            <label for="">Titre :</label>
                            {{request.book_title}}
                        </div>
                        <div>
                            <label for="">Nombre d'exemplaire(s) loué(s) :</label>
                            {{request.nbBooks}}
                        </div>
                        <div>
                            <label for="">Loué pour : </label>
                            {{request.nbDays}} jour(s)
                        </div>
                        <div class="btn-block pl-0">
                            {% if request.status == 'En Attente'%}
                                <a
                                    class="btn btn-secondary"
                                    href="/account/challengeOperation/{{request.operationID}}"
                                    role="button"
                                    >Refaire une offre</a
                                >
                            {% else %}
                                <a
                                    class="btn btn-secondary"
                                    href="/account/challengeOperation/{{request.operationID}}"
                                    role="button"
                                    >Refaire une offre</a
                                >
                                {% if not request.challengedByMe %}
                                    <a
                                        class="btn btn-secondary"
                                        href="/account/acceptRequestSeller/{{request.operationID}}"
                                        role="button"
                                        >Accepter</a
                                    >
                                    <a
                                        class="btn btn-secondary"
                                        href="/account/refuseRequestSeller/{{request.operationID}}"
                                        role="button"
                                        >Refuser</a
                                    >
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
			<div>Vous n'avez aucune demande actuellement</div>
			{% endif %}
		</body>
	</html>
{% endblock %}
