{% extends 'shared/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks%}
{% block title %}Mes livres{% endblock %}
{% block content %}
	<html>
		<head></head>
        <style>
            .books {
                padding: 10px;
            }

            img {
                width: 250px;
                height: 150px;
            }
        </style>
		<body>
            <div class="books">
                {% for book in books %}
                    <div>Titre : {{ book.title }}</div>
                    <div>Éditeur : {{ book.editor }}</div>
                    <div>Prix : {{ book.price }} €</div>
                    <div>Description : {{ book.shortDescription }}</div>
                    <div>Résumé : {{ book.resume }}</div>
                    <div class="mb-2"><img src="/media/book.jpeg" alt="Image d'un livre" /></div>
                    <div>
                        <a class="btn btn-success" href="/account/manageBook/{{book.id}}">
                            Gérer mon livre
                        </a>
                        <a class="btn btn-dark" href="/account/createReadingGroup/{{book.id}}">
                            Organiser un groupe de lecture
                        </a>
                    </div>
                {% endfor %}
            </div>
		</body>
	</html>
{% endblock %}
