{% extends '../shared/base.html' %} {% load widget_tweaks %} {% block content %}
{% load crispy_forms_tags %}

<!-- Password Reset Confirm -->
<div class="container p-5">
	<h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
	<hr />
	<p>Please enter your new password.</p>
	<form method="POST">
		{% csrf_token %}
		<input type="password" name="new_password1" />
		<input type="password" name="new_password2" />
		<button class="btn btn-primary" type="submit">Reset password</button>
	</form>
</div>

{% endblock %}
