{% extends '../shared/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="container p-5">
		<h2 class="font-weight-bold mt-3">Réinitialiser le mot de passe</h2>
		<hr />
		<p>
			Mot de passe oublié ? Entrez votre adresse e-mail ci-dessous, et nous vous enverrons un e-mail
			instructions pour en créer un nouveau.
		</p>
		<form method="POST">
			{% csrf_token %} {{ password_reset_form|crispy }}
			<button class="btn btn-primary" type="submit">Envoyer l'email</button>
		</form>
	</div>
{% endblock %}
